* {
  font-family: 'Inter', sans-serif;
}
a {
  text-decoration: 1px solid rgb(150, 150, 150) underline;
  color: inherit;
}
body, html {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
}
#root {
  margin-bottom: 64px;
}