services:
  # DATABASE
  db:
    image: postgres:15-alpine
    container_name: horizon_db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: horizon_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # BACKEND
  server:
    build: ./server
    container_name: horizon_server
    restart: always
    ports:
      - '3000:3000'
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - db
    environment:
      DATABASE_URL: postgresql://admin:password123@db:5432/horizon_db?schema=public

  # FRONTEND
  client:
    build: ./client
    container_name: horizon_client
    restart: always
    ports:
      - '5173:5173'
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true

volumes:
  postgres_data: