.container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.name {
  font-weight: 700;
}
.description {
  opacity: 0.75;
}
.address, .contact {
  display: flex;
  gap: 8px;
  opacity: 0.6;
}
.contact {
  opacity: 0.8;
}
