.container {
  text-transform: uppercase;
  text-align: center;
  padding: 8px 16px;
  background-color: goldenrod;
  border-radius: 2px;
  color: black;
  font-weight: 400;
  letter-spacing: 0.3px;
  display: grid;
  grid-template-rows: 1fr min-content;
  font-size: 14px;
  height: 72px;
}
.name {
  font-weight: 500;
  font-size: 15px;
}
.price {
  margin-top: 12px;
}