.container {
  text-transform: uppercase;
  text-align: center;
  padding: 8px 16px;
  background-color: goldenrod;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.3px;
  display: grid;
  grid-template-rows: 1fr min-content;
}
.name {
  font-weight: 700;
}
.price {
  margin-top: 8px;
}