@import 'tailwindcss';

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: #606060;
    --main-svg-filter: brightness(0) saturate(100%) invert(35%) sepia(0%) saturate(0%) hue-rotate(61deg) brightness(101%) contrast(84%);
    --active-svg-filter: brightness(0) saturate(100%) invert(23%) sepia(100%) saturate(7490%) hue-rotate(272deg) brightness(93%) contrast(126%);
    --main-color: #606060;
    --active-color: #9807ff;
}

body {
    padding: 0;
    margin: 0;
}

body, #root {
    display: flex;
    justify-content: center;
}

#root {
    width: 100%;
    height: 100dvh;
}

@layer components {
    .profile-data-container {
        @apply grid gap-2.5 mb-7;
    }

    .profile-data-label {
        @apply text-[17px] tracking-wide pl-5;
    }

    .profile-data-container:has(.profile-data-input:focus) .profile-data-label {
        @apply text-(--active-color)!;
    }

    .profile-data-input {
        @apply w-84 border border-gray-400 px-5 py-3 rounded-md tracking-wide;
    }

    .profile-data-input:focus {
        @apply border border-(--active-color) outline-0
    }

    .profile-data-input:focus::placeholder {
        @apply text-transparent;
    }
}

.remove-arrows {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}