.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background-color: black;
  transform: translateX(100dvw);
  transition: transform 0.3s ease-in;
  border-left: 1px solid rgba(218, 165, 32, 0.2);
  border-right: 1px solid rgba(218, 165, 32, 0.2);
  box-sizing: border-box;
}
.open {
  transform: translateX(0);
}
.header {
  padding: 12px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.1px;
  margin-bottom: 72px;  
}
.logo {
  font-family: 'Source Sans 3', 'Roboto', sans-serif;
}
.closeButton {
  width: 28px;
  justify-self: flex-end;
}
.menu {
  text-align: center;
}
.menuElement {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(218, 165, 32, 0.2);
  padding: 24px;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}
.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.loginElement, .logout {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: rgb(51, 166, 255);
  letter-spacing: 0.3px;
  padding: 36px 0;
}
.logout {
  font-size: 18px;
  color: rgb(255, 76, 76);
}